{% extends 'base.html' %}

{% block content %}
<style type="text/css">
<!--
#password{
	padding: 10px;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom:30px;
}
h1 {
	margin-bottom: 20px;
	margin-left:20px;
	margin-top: 20px;
	font-weight:bold;
	font-size:28px;
}
label {
	padding-top:5px;
	font-weight:bold;
	padding-right:20px;
}
input{
	padding-top:2px;
	padding-bottom:2px;
	padding-right:5px;
	padding-left:5px;
}
#changePwd{
	padding-bottom:20px;
}
-->
</style>

<h1>Change Password</h1>

<form id="password" action="/profile/password/" method="post">
{% csrf_token %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="changePwd">
{{ form.non_field_errors }}

<table width="500">
  <tr><div class="fieldWrapper">
    <td height="50">{{ field.oldpassword.label_tag }}<label>Old Password</label>:</td>
    <td>{{ form.oldpassword }}
        <span class="error">
        	{% for e in form.oldpassword.errors %}
            *{{e}}
            {% endfor %}
        </span></td></div>
  </tr>
  
  <tr> <div class="fieldWrapper">
    <td height="50">{{ field.password.label_tag }}<label>New Password</label>:</td>
    <td>{{ form.password }}
        <span class="error">
        	{% for e in form.password.errors %}
            *{{e}}
            {% endfor %}
        </span></td></div>
  </tr>
  
  <tr> <div class="fieldWrapper">
    <td height="50">{{ field.password2.label_tag }}<label>Confirm Password</label>:</td>
    <td>{{ form.password2 }}
        <span class="error">
        	{% for e in form.password2.errors %}
            *{{e}}
            {% endfor %}
        </span></td></div>
  </tr>
</table>
</div>
    
<input type="submit" value="Change password"/>
<input type="button" value="Back" onClick="parent.location='/profile'" />

</form>

<script type="text/javascript">
	$(document).ready(function(){
		console.log('Ready');
	});
</script>

{% endblock %}